html,body{
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    padding-left: 20px;
    padding-right: 20px;
    
}
.Hover:hover{
    box-shadow: 0 8px 16px rgba(34, 8, 203, 0.2);
    transform: scale(1.01); 
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    background-color: blue;
}

.background-image {
    position: relative;
    z-index: 0;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%);
    z-index: -1;
    border-radius: 1rem;
}

.background-color{
    position: relative;
    z-index: 0;
}

.background-color::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 216, 226, 0.663);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1;
    border-radius: 1rem;
}

.heigh-width{
    height: 2.5rem;
    width: 8rem;
}

.hero-search-width{
    width: 40rem;
}

@media (min-width:150px) and (max-width:550px) {
    .extra-small-width{
        width: 12rem;
    }
}

@media (min-width:551px) and (max-width:950px) {
    .median-width{
        width: 22rem;
    }
}


.background-image-see {
    position: relative;
    z-index: 0;
}

.background-image-see::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/see.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%);
    z-index: -1;
    border-radius: 1rem;
}

.width-tour{
    width: 40rem;
}

@media (min-width:150px) and (max-width:550px) {
    .extra-small-width-tour{
        width: 14rem;
    }
}

@media (min-width:551px) and (max-width:950px) {
    .median-width-tour{
        width: 30rem;
    }
}

.height-tour{
    height: 35rem;
}

@media (min-width:150px) and (max-width:550px) {
    .extra-small-height-tour{
        height: 35rem;
    }
}

@media (min-width:551px) and (max-width:950px) {
    .median-height-tour{
        height: 35rem;
    }
}
