body{
    padding-left: 20px;
    padding-right: 20px;
}
.Hover:hover{
    box-shadow: 0 8px 16px rgba(34, 8, 203, 0.2);
    transform: scale(1.01); 
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    background-color: blue;
}

.background-image {
    position: relative;
    z-index: 0;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    z-index: -1;
    border-radius: 20px;
}

.background-color{
    position: relative;
    z-index: 0;
}

.background-color::before{
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    z-index: -1;
    border-radius: 20px;
}